html { 
	
} 

body { 
	width: 100%;
} 
a{
	text-decoration: none;
	color: black;
}

/*******************************************************************
LAYOUT
*******************************************************************/

#contenedor{
	width: 90%;
	margin: auto;
}
article { 


} 

.grid { 


} 